*{
    margin: 0;
    padding: 0;
}
/* body{
    background: url('../static/bg1.jpg') no-repeat center center/cover;
} */
.navbar{
    margin-top: 6px;
    border: 2px solid black;
    width: 99%;
    height: 45px;
    background-color: black;
    color: white;
    opacity: 0.7;
    border-radius: 30px;
    margin-left: 3px;
   
}
.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    padding: 3px 22px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 17px;
}
.l4{
    position: relative;
    left: 1210px;
}
.l5{
    position: relative;
    left: 1035px;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li :hover{
    color: rgb(0, 255, 0);
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    
}
section::before {
    /* background: url('../static/bg1.jpg') no-repeat center center/cover; */
    content: "";
    position:absolute;
    top: 58px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

/* .container{
    border: 2px solid black;
    width: 400px;
    height: 150px;
    display: block;    
} */

.searchbox{
    position: relative;
    top: 50px;
    left: 150px;
    padding: 2px 10px;
    color: black;
     border: 2px solid black;
    outline: none;
    box-shadow: 1px 2px rgb(29, 146, 224);
} 

.container input[type="text"]{
   
    border-radius: 20px; 
    height: 30px;
    width: 400px;
    color: black;
    font-size: 16px;
    border: none;
}

.container input[type="submit"] {
    /* border: 2px solid black; */
    border-radius: 20px;
    height: 36px;
    width: 77px;
    font-size: 16px;
    position: relative;
    left: 21%;
   
}
.btn {
    position: relative;
    float: right;
    height: 20px;
    width: 60px;
    margin: 50px 44px;
    outline: none;
}

.btn :hover{
    color: burlywood;
}

.box{
    position: relative;
    top: 13%;
    left: -26%;
    width: 40%;
}

 table{
    position: relative;
    top: -380px;
    left: 65%;
    transform: translate(-50%,-50%); 
    width: 143%;
    height: auto;
    box-shadow: 0 5px 12px rbga(32,32,32,.3);
    text-align: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
    border-spacing: 0;
} 

th{
    padding: 10px,12px;
    margin-left: 20px;
    height: 30px;
}
td{
    padding: 10px,12px;
    margin-left: 20px;
}

th{
    background: #ba68c8;
}
tr:nth-child(odd){
    background-color: #eeeeee;

}

.container{
    position: relative;
    top: -370px;
    left: 35%;
}
tr{
    padding: 20%;
    margin: 40px;
}
.bgimg{
    width: 100%;
    height: 50%;
    display: flex;
    margin-top: 2px;
    z-index: -2;
}
img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 450px;
}

