.container{
    display: grid;
    grid-template-columns: 4fr 4fr;

}

.box{
    border: 2px solid black;
    height: 560px;
    padding: 20px;
    margin: 20px;
    
}

#add1{
    width: 520px;
    height: 400px;
    box-shadow: 0px 0px 3px 3px rgb(39, 75, 238);
    background: rgb(213, 241, 245);
    border: 1px solid rgb(213, 241, 245);
    color:rgb(0, 0, 0);
    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 30px;
    opacity: 0.8;
    border-radius: 20px;
    margin-top: 20px

}
#add2{
    width: 520px;
    height: 400px;
    box-shadow: 0px 0px 3px 3px rgb(39, 75, 238);
    background: rgb(213, 241, 245);
    border: 1px solid rgb(213, 241, 245);
    color:rgb(0, 0, 0);
    position: absolute;
    top: 30%;
    left: 78%;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 40px 30px;
    opacity: 0.8;
    border-radius: 20px;
    margin-top: 20px

}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.add p{
    margin: 0px;
    padding: o;
    font-weight: bold;
 }

 .add input{
    width: 100%;
    margin-bottom: 40px;
}

.add input[type="number"]
{
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 30px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    width: 100%;
}
.add input[type="submit"]{
     
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: white;
    font-size: 18px;
    border-radius: 20px;
    /* position: relative;
    left: 100px; */
 }

 .add input[type="submit"]:hover
 {
     cursor: pointer;
     background:  rgb(50, 50, 211);
     color: white;
 }

 .navbar{
    margin-top: 6px;
    border: 2px solid black;
    width: 99%;
    height: 45px;
    background-color: black;
    color: white;
    opacity: 0.7;
    border-radius: 30px;
    margin-left: 3px;
   
}
.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    padding: 3px 2px;
    margin-top: -5px;
    margin-left: 10px;
    font-size: 17px;
}
.l4{
    position: relative;
    left: 1380px;
}
.navbar li a{
    text-decoration: none;
    color: white;
}
.navbar li :hover{
    color: rgb(0, 255, 0);
}
table{
    position: absolute;
    display: block;
    top: 16%;
    left: 63%;
    /* transform: translate(-50%,-50%); */
    width: 30%;
    height: 595px;
    box-shadow: 0 5px 12px rbga(32,32,32,.3);
    text-align: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
    border-spacing: 0;
}
th,td{
    padding: 10px,12px;
}

th{
    background: #ba68c8;
    position: sticky;
}
tr:nth-child(odd){
    background-color: #eeeeee;

}