<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="./style/about_us.css">
</head>

<body>
    <header>

        <nav class="navbar">
            <ul>
                <li class="l1"><a href="/">Home</a></li>
                <li class="l2"><a href="#">Contact us</a></li>
                <li class="l3"><a href="./about_us.html">About us</a></li>
                <!-- <li class="l4"><a href="#">Log Out</a></li> -->
                <li class="l5"><a href="./login.html" action="/login">Log In</a></li>
            </ul>
        </nav>

    </header>
    <div class="readme">
        <h1>Eyantra</h1>
        <h2>Project on Eyantra ideas on Covid-19</h2>
        <p class="idea">Project Idea : Bed service providing web app for connecting hospitals and users</p>
        <div class="para">

            <p>Project is a web app which connects users to hospital authorities by allowing hospital authorities to
                update
                the no. of beds (oxygen, ventilator, normal) on the application.</p>

            <p> Allowing the user to locate the nearest hospital having sufficient supplies for beds and enough vacancy
                for
                admission. </p>
            <p>

                Project's back-end is written completely in golang, allowing the developer to easily route and
                authenticate
                users and update the mysql database.
            </p>

            <p> * The first page to display is a Index page for users to search for nearest vacant hospital beds along
                with
                a option to login the system and login for hospital authorities.
            </p>

            <p>

                * After logging into the admin/system section the user have the privilage to add more hospital
                authorities.
            </p>

            <p>

                * After logging into the hospital authority section the user have the privilage to update the number of
                beds
                vacant and number of supplies for that corresponding hospital.
            </p>

            </p>
        </div>


    </div>

</body>

</html>