<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="./style/contact_us.css">
</head>
<body>
    <header>

        <nav class="navbar">
            <ul>
                <li class="l1"><a href="/">Home</a></li>
                <li class="l2"><a href="./contact_us.html">Contact us</a></li>
                <li class="l3"><a href="./about_us.html">About us</a></li>
                <!-- <li class="l4"><a href="#">Log Out</a></li> -->
                <li class="l5"><a href="./login.html" action="/login">Log In</a></li>
            </ul>
        </nav>

    </header>
    
    <h1>Eyantra</h1>

    <div class="team">
        <p class="t1">
            Team
        </p>
        <p class="fd">
            Front-End
        </p>
        <p class="colab1">
            Collaborator :- Vinay Katariya. <br>
            GitHub Username :- katariyavinay. <br>
            Email :- katariyavr@rknec.edu
        </p>

        <p class="bd">
            Back-End
        </p>
        <p class="colab2">
            Collaborator :- Inshal Khan. <br>

            GitHub Username :- Regis-Caelum. <br>

            Email :- khanmf@rknec.edu.
        </p>
    </div>
    
</body>
</html>