<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital</title>
    <link rel="stylesheet" href="./style/styleh.css">
</head>
<body>
    <section>
        <div class="hospital">
            <h1>Add Information</h1>
            <form action="">
                <p>Number of Oxygen bed available: <input type="number" name="" placeholder="Enter no."></p>
                <br>

                <p>Number of Ventilator bed available: <input type="number" name="" placeholder="Enter no."></p>
                <br>

                <p>Number of Ventilator bed available: <input type="number" name="" placeholder="Enter no."></p>
                
                <p><input type="submit" name="" placeholder="Submit Now"></p>

            </form>
        </div>
    </section>
    
</body>
</html>