<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="./style/search.css">
</head>

<body>
    <section>

        <div class="container">
            <div class="formbox">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="user()" >Root</button>
                    <button type="button" class="toggle-btn" onclick="hos()" >Hospital</button>
                </div>
                <form action="/login" id="user" class="input-group" method="POST">
                    <input type="text" name="auser" class="input-field" placeholder="User Id" required >
                    <input type="password" name="apass" class="input-field" placeholder="Password" required >
                    <input type="checkbox" class="chech-box" name="buttons" value="root"> <span>Root</span>
                    <button type="submit" class="submit-btn">LogIn</button>
                </form>

                <form action="/login" id="hos" class="input-group" method="POST">
                    <input type="text" name="huser" class="input-field" placeholder="User Id" required >
                    <input type="password" name="hpass" class="input-field" placeholder="Password" required >
                    <input type="checkbox" class="chech-box" name="button" value="hospital"> <span>Hospital user</span>
                    <button type="submit" class="submit-btn">LogIn</button>
                </form>
            </div>
        </form>
        <div class="box" id="box2">
            <table>
            <tr>
                <th>Hospital Name</th>
                <th>Pincode</th>
                <th>District</th>
            </tr>
                {{range .}}
                <tr>
                    <td>{{.name}}</td>
                    <td>{{.oxy}}</td>
                    <td>{{.vent}}</td>
                </tr>
                {{end}}
            </table>

        </div>
    </section>
</body>

</html>