<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form </title>
    <link rel="stylesheet" href="./style/style.css">
    <!-- compatible -->
</head>
<body>
    <section>
        <div class="loginbox">
            <img src="./static/avatar.png" class="avatar">
            <h1>Login Here</h1>
            <form action="/main">
                <p>Username</p>
                <input type="text" name="user" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="pass" placeholder="Enter password">
                <input type="submit" name="" value="Login">
            </form>
        </div>
    </section>
</body>
</html>