<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="./style/index.css">
</head>

<body>
    <header>
      
    <nav class="navbar">
        <ul>
            <li class="l1"><a href="./index.html">Home</a></li>
            <li class="l2"><a href="#">Contact us</a></li>
            <li class="l3"><a href="#">About us</a></li>
            <!-- <li class="l4"><a href="#">Log Out</a></li> {% endcomment %} -->
            <li class="l5"><a href="./login.html" action="/login">Log In</a></li>
        </ul>
    </nav>

</header>
<div class="bgimg">
    <img src="./static/bg1.jpg" alt="">
</div>
    <section>
        <form action="/search" method="POST">
            <div class="container">
            
                    <input class="searchbox" type="text" name="text" placeholder="Search Pincode">
                    <input class="btn" type="submit" name="" value="Submit">
            </div>
    </section>
</body>

</html>