<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="./style/styleuh.css">
</head>

<body>
    <header>
      
        <nav class="navbar">
            <ul>
                <li class="l1"><a href="./index.html">Home</a></li>
                <li class="l2"><a href="./contact_us.html">Contact us</a></li>
                <li class="l3"><a href="./about_us.html">About us</a></li>
                <!-- <li class="l4"><a href="#">Log Out</a></li> {% endcomment %} -->
                <!-- <li class="l5"><a href="./login.html" action="/login">Log In</a></li> -->
            </ul>
        </nav>
    
    </header>
    <section>

        <div class="container">
            <div class="formbox">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="user()" >Root</button>
                    <button type="button" class="toggle-btn" onclick="hos()" >Hospital</button>
                </div>
                <form action="/login" id="user" class="input-group" method="POST">
                    <input type="text" name="auser" class="input-field" placeholder="User Id" required >
                    <input type="password" name="apass" class="input-field" placeholder="Password" required >
                    <input type="checkbox" class="chech-box" name="buttons" value="root"> <span>Root</span>
                    <button type="submit" class="submit-btn">LogIn</button>
                </form>

                <form action="/login" id="hos" class="input-group" method="POST">
                    <input type="text" name="huser" class="input-field" placeholder="User Id" required >
                    <input type="password" name="hpass" class="input-field" placeholder="Password" required >
                    <input type="checkbox" class="chech-box" name="button" value="hospital"> <span>Hospital user</span>
                    <button type="submit" class="submit-btn">LogIn</button>
                </form>
            </div>

        </div>
    </section>
    <script>
        var x = document.getElementById("user");
        var y = document.getElementById("hos");
        var z = document.getElementById("btn");

        function hos(){
            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
        }
         function user(){
            x.style.left = "50px";
            y.style.left = "450px";
            z.style.left = "0px";
         }
         
    </script>
</body>

</html>