<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <link rel="stylesheet" href="./style/stylea.css">
</head>

<body>
    <section>
        <div class="add">
            <h1>Add Hospitals</h1>
            <form action="">

               <p> District: <input type="text" name="" placeholder="Enter District"></p>
                <br>

               <p> Area: <input type="text" name="" placeholder="Enter Area"></p>
                <br>

               <p> Pin Code: <input type="text" name="" placeholder="Enter Pin Code"></p>
                <br>

               <p> Hospital: <input type="text" name="" placeholder="Enter Hospital"></p>
                <br>

                <p>Address: <input type="text" name="" placeholder="Address"></p>
                <br>

                <input type="Submit" value="Submit Now">

            </form>
        </div>
    </section>

</body>

</html>