<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Page</title>
    <link rel="stylesheet" href="./style/hello.css">
</head>

<body>
    <header>

        <nav class="navbar">
            <ul>
                <li class="l1"><a href="/">Home</a></li>
                <li class="l2"><a href="#">Contact us</a></li>
                <li class="l3"><a href="#">About us</a></li>

                <li class="l4"><a href="/logout" action="/logout" name="logout" value="1">Log Out</a></li>
            </ul>
        </nav>

    </header>
    <div class="container">
        <div class="box" id="box1">
            <div class="add">
                <h1>Add Hospitals</h1>
                <form action="/done" method="POST">

                    <p> District: <input type="text" name="district" placeholder="Enter District"></p>
                    <br>

                    <p> Area: <input type="text" name="area" placeholder="Enter Area"></p>
                    <br>

                    <p> Pin Code: <input type="text" name="pin" placeholder="Enter Pin Code"></p>
                    <br>

                    <p> Hospital: <input type="text" name="name" placeholder="Enter Hospital"></p>
                    <br>

                    <p>Address: <input type="text" name="" placeholder="Address"></p>
                    <br>
                    <p class="p1">Phone1: <input type="number" name="" placeholder="Phone1"></p>
                    <p class="p2">Phone2: <input type="number" name="" placeholder="Phone1"></p>
                    <br>

                    <input type="Submit" value="Submit Now">

                </form>
            </div>
        </div>
        <div class="box" id="box2">
            <h2>List of Hospitals</h2>

            <table class="sticky">
            <tr>
                <th>Hospital Name</th>
                <th>Pincode</th>
                <th>District</th>
            </tr>
                {{range .}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Pincode}}</td>
                    <td>{{.District}}</td>
                </tr>
                {{end}}
            </table>

        </div>
    </div>

</body>

</html>