<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="./style/search.css">
</head>

<body>
    <header>
      
    <nav class="navbar">
        <ul>
            <li class="l1"><a href="/">Home</a></li>
            <li class="l2"><a href="#">Contact us</a></li>
            <li class="l3"><a href="#">About us</a></li>
            <!-- <li class="l4"><a href="#">Log Out</a></li> -->
            <li class="l5"><a href="./login.html" action="/login">Log In</a></li>
        </ul>
    </nav>

</header>
    <section>
        <form action="/search" method="POST">
            <div class="container">
            
                    <input class="searchbox" type="text" name="text" placeholder="Search Pincode">
                    <input class="btn" type="submit" name="" value="Submit">
                
            </div>
        </form>
        <div class="box" id="box2">
            <table>
            <tr>
                <th>Name</th>
                <th>No. of Oxygen beds</th>
                <th>No. of Ventilator beds</th>
                <th>No. of Normal beds</th>
            </tr>
                {{range .}}
                <tr>
                    <td>{{.Name}}</td>
                    <td>{{.Oxy}}</td>
                    <td>{{.Vent}}</td>
                    <td>{{.Norm}}</td>
                </tr>
                {{end}}
            </table>

        </div>
    </section>
</body>

</html>